<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--bean默认作用域singleton bean的实例只会创建一个-->
    <bean id="car" class="code.autowire.Car" p:brand="奥特莱斯奔驰" p:price="1000000"/>
    <!-- prototype 原型 每次调用getBean都会创建一个新的实例-->
    <bean id="car02" class="code.autowire.Car" p:brand="奥特莱斯奔驰" p:price="1000000" scope="prototype"/>
    <!--request 该作用域在每次HTTP请求都会创建一个新得到Bean,该作用域仅适用于WebApplicationContext环境-->
    <!--session 同一个HTTP Session共享一个Bean,不同的HTTP Session使用不同的Bean ,该作用域仅适用于WebApplicationContext环境-->
</beans>