<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--p命名空间-->
    <bean id="car" class="code.autowire.Car" p:brand="奔驰" p:price="600000">
    </bean>
    <bean id="address" class="code.autowire.Address" p:city="上海" p:street="奥特莱斯"></bean>
    <!--bean自动装配 byName 前提是属性名称和bean的名称完全相同
    byType和constructor装配不适合使用
    -->
    <bean id="person" class="code.autowire.Person" p:name="Tom" autowire="byName"></bean>
    <!--bean属性能继承 可以使用parent完成继承-->
</beans>